@import url("../styles/fonts.css");
/* width */

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    position: absolute;
    right: 0;
}

/* Track */

::-webkit-scrollbar-track {
    background: #000000;
    position: absolute;
    right: 0;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #35A103;
    cursor: pointer!important;
}

* {
    font-family: "SF Display";
    font-weight: 200;
}

.bg-black {
    background-color: #000000 !important;
}

a.bg-black:hover, a.bg-black:focus, button.bg-black:hover, button.bg-black:focus {
    background-color: #0f0f0f !important;
}

.text-black {
    color: #000000;
}

p {
    font-size: 1.1rem;
}

.btn {
    border-radius: 0;
    font-weight: 200;
    border-width: 2px;
}

.btn-success {
    color: #000000;
    background-color: #35A103;
    border-color: #35A103;
}

.btn-success:hover {
    color: #000000;
    background-color: #35a103cc;
    border-color: #35a103cc!important;
}

.btn-success:focus, .btn-success.focus {
    color: #000000;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-outline-black {
    color: #000000;
    border-color: #000000;
}

.btn-outline-black:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-outline-black:focus, .btn-outline-black.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-white {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-white:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-white:focus, .btn-outline-white.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-xl, .btn-group-xl>.btn {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.navbar-toggler {
    outline: 0!important;
}

.navbar-toggler img {
    height: 1.5rem;
}

.navbar .nav-item {
    display: flex;
    align-items: center;
    font-size: 1.1rem!important;
}

.navbar .nav-link.active {
    border-bottom: 2px solid #000000;
}

.logo-black-white {
    height: 4rem;
}

sup {
    font-size: 1rem;
}

.squared {
    position: relative;
}

.squared:before {
    content: '';
    position: absolute;
    left: -1.5rem;
    top: .5rem;
    width: .75rem;
    height: .75rem;
    background-color: #35A103;
}

.work-card {
    border-bottom: 1px solid #00000022;
}

.phone {
    position: relative;
    width: 30vh;
    height: 62vh;
    border-radius: 5vh;
    border: 1.25vh solid #ffffff;
}

.phone:before {
    z-index: 10;
    content: '';
    background-color: #ffffff;
    height: 1.5vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 1rem 1rem;
    width: 60%;
    position: absolute;
}

.phone .wip {
    z-index: 11;
    position: relative;
    top: -6vh;
    right: -21vh;
    height: 12vh;
}

.font-size-15 {
    font-size: 1.5rem;
}

.services p {
    color: rgba(255, 255, 255, .75)!important;
    margin-bottom: .25rem;
}

.services h2, .services h3 {
    font-weight: 400;
}

.computer {
    background-image: url('../icons/Monitor.png');
    width: 55vh;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: .8vh .8vh 6.4vh .8vh;
}

.computer>* {
    border-radius: .5vh;
}

.owl-dots {
    background-color: #C4C5C7;
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.owl-dot {
    background-color: transparent;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2px!important;
    width: 100%;
}

.owl-dot.active {
    background-color: #35A103!important;
}
.text-868787 {
    color: #868787;
}