@import url("../styles/fonts.css");
/* width */

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    position: absolute;
    right: 0;
}

/* Track */

::-webkit-scrollbar-track {
    background: #000000;
    position: absolute;
    right: 0;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #35A103;
    cursor: pointer!important;
}

* {
    font-family: "SF Display";
    font-weight: 200;
}

.bg-black {
    background-color: #000000 !important;
}

a.bg-black:hover, a.bg-black:focus, button.bg-black:hover, button.bg-black:focus {
    background-color: #0f0f0f !important;
}

.text-black {
    color: #000000;
}

p {
    font-size: 1.1rem;
}

.btn {
    border-radius: 0;
    font-weight: 200;
    border-width: 2px;
}

.btn-success {
    color: #000000;
    background-color: #35A103;
    border-color: #35A103;
}

.btn-success:hover {
    color: #000000;
    background-color: #35a103cc;
    border-color: #35a103cc!important;
}

.bg-success {
    background-color: #35A103!important;
}

.text-success {
    color: #35A103!important;
}

.display-5 {
    font-size: 2.25rem;
    line-height: 1;
}
.display-6 {
    font-size: 1.75rem;
    line-height: 1;
}

.display-2 {
    font-size: 5.75rem;
    line-height: 1;
}

.line-height-1 {
    line-height: 1;
}

.border-3 {
    border-width: 4px!important;
}

.btn-success:focus, .btn-success.focus {
    color: #000000;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-outline-black {
    color: #000000;
    border-color: #000000;
}

.btn-outline-black:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-outline-black:focus, .btn-outline-black.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-white {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-white:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-white:focus, .btn-outline-white.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-xl, .btn-group-xl>.btn {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.navbar-toggler {
    outline: 0!important;
}

.navbar-toggler img {
    height: 1.5rem;
}

.navbar .nav-item {
    display: flex;
    align-items: center;
    font-size: 1.1rem!important;
}

.navbar .nav-link.active {
    border-bottom: 2px solid #000000;
}

.logo-black-white {
    height: 4rem;
}

sup {
    font-size: 1rem;
}

.squared {
    position: relative;
}

.squared:before {
    content: '';
    position: absolute;
    left: -1.5rem;
    top: .5rem;
    width: .75rem;
    height: .75rem;
    background-color: #35A103;
}

.work-card {
    border-bottom: 1px solid #00000022;
}

.phone-container, .phone {
    border: 1.25vh solid transparent;
    position: relative;
    width: 30vh;
    height: 62vh;
    border-radius: 5vh;
}

.phone {
    border-color: #ffffff;
    background-color: #ffffff;
    overflow: hidden;
}

.phone>.phone-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.phone:before {
    z-index: 10;
    content: '';
    background-color: #ffffff;
    height: 1.5vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 1rem 1rem;
    width: 60%;
    position: absolute;
}

.phone-container .wip {
    z-index: 11;
    position: absolute;
    top: -5vh;
    right: -7vh;
    height: 12vh;
}

.font-size-15 {
    font-size: 1.5rem;
}

.font-weight-black {
    font-weight: 900 !important;
}

.services p {
    color: rgba(255, 255, 255, .75)!important;
    margin-bottom: .25rem;
}

.services h2, .services h3 {
    font-weight: 400;
}

.computer {
    background-image: url('../icons/Monitor.png');
    width: 55vh;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: .8vh .8vh 6.4vh .8vh;
}

.computer>* {
    border-radius: .5vh;
}

.owl-dots {
    background-color: #C4C5C7;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.computer-carousel .owl-dots {
    width: 80%;
}

.team-carousel .owl-dots {
    position: absolute;
    left: 0;
    bottom: -1rem;
    right: 0;
}

.owl-dot {
    background-color: transparent;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2px!important;
    width: 100%;
}

.owl-dot.active {
    background-color: #35A103!important;
}

.owl-dots.disabled, .owl-nav.disabled {
    display: none;
}

.text-868787 {
    color: #868787;
}
.text-d1d1d1 {
    color: #d1d1d1;
}

.steps {
    position: relative;
    transition: .5 all ease;
}

.steps> :first-child, .steps> :last-child {
    width: .75rem;
    position: absolute;
    top: 0;
    bottom: 0;
}

.steps> :first-child {
    left: 0;
}

.steps> :last-child {
    left: 50%;
    transform: translateX(-50%);
}

.steps> :first-child:before, .steps> :first-child:after, .steps> :last-child:before, .steps> :last-child:after {
    position: absolute;
    left: 0;
    content: '';
    width: .75rem;
    height: .75rem;
    background-color: #FFFFFF;
    transition: .5s all ease;
}

.steps> :first-child:before, .steps> :last-child:before {
    top: 0;
}

.steps> :first-child:after, .steps> :last-child:after {
    bottom: 0;
}

.after-active:after, .before-active:before {
    background-color: #35A103!important;
}

.glg-background {
    background-image: url('../images/glg_background.png');
    background-size: 90% 100%;
    background-repeat: no-repeat;
}

.bg-black-to-white {
    background: linear-gradient(to bottom, #000000 0vh, #000000 60vh, #ffffff 60vh);
}

.tabs>.active {
    border-bottom: 4px solid #35A103;
}

.avatar {
    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
    overflow: hidden;
    margin-top: 1.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-full {
    background-image: url('../images/room.png');
    background-size: 86vh 86vh;
    background-repeat: no-repeat;
    background-position-y: -8vh;
    background-position-x: right;
}

.opacity-75 {
    opacity: .75;
}

.squared-box {
    position: relative;
    transition: .5 all ease;
}

.squared-box> :first-child, .squared-box> :last-child {
    width: .75rem;
    position: absolute;
    top: 0;
    bottom: 0;
}

.squared-box> :first-child {
    left: 0;
}

.squared-box> :last-child {
    right: 0;
}

.squared-box> :first-child:before, .squared-box> :first-child:after, .squared-box> :last-child:before, .squared-box> :last-child:after {
    position: absolute;
    left: 0;
    content: '';
    width: .75rem;
    height: .75rem;
    background-color: #000000;
    transition: .5s all ease;
}

.squared-box> :first-child:before, .squared-box> :last-child:before {
    top: 0;
}

.squared-box> :first-child:after, .squared-box> :last-child:after {
    bottom: 0;
}

.partners-carousel .logo {
    border: 1px solid #35A103;
    border-radius: 8rem;
    padding: 2rem;
    height: 9rem;
    width: 9rem;
    margin-top: 2rem;
    transition: .1s all linear;
    transform: scale(.7) translateY(1.5rem);
}

.partners-carousel .logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.partners-carousel .owl-item.active.center .logo {
    transform: scale(1)
}

.partners-carousel .owl-item .partner-name {
    height: 0;
    overflow: hidden;
    transition: .1s all ease;
}

.partners-carousel .owl-item.active.center .partner-name {
    height: auto;
    width: 300%;
    margin-left: 50%;
    transform: translateX(-50%);
}
header {
    transition: .5s all ease;
    z-index: 999;
}

.nav-up {
    top: -80px;
}

.nav-down {
    top: 0;
}

.quote-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.bg-black-95 {
    background-color: #000000f0;
}

.footer-logo-igl {
    height: 3rem;
    object-fit: contain;

}

.divider {
    height: .1rem;
}
.grey {
    background-color: #4D4C4B;
}
.btn-outline-grey {
    border-color: #4D4C4B!important;
}

.b-w-1 {
    border-width: 1px!important;
}

.border-grey {
    border: 1px solid #4D4C4B;
}

.links a {
    color: #ffffff;
}





.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  position: relative;
  z-index: 100;
  width: 30px;
  height: 2px;

  transition: 0.2s all ease-out;
  border-radius: 60px;
  background-color: #fff;
  /* background-color: rgb(82, 207, 44); */
}

.burger::after,
.burger::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  transition: 0.5s all;
}
.burger::before {
  top: -9px;
}
.burger::after {
  bottom: -9px;
}

.burger.active_burger {
  background-color: transparent;
  transition: 0.5s all;
}

.burger.active_burger::after,
.burger.active_burger::before {
  /* width: 90%;
    height: 2px; */
  top: 0;
  bottom: 0;
}
.burger.active_burger::after {
  transform: rotate(-45deg);
}
.burger.active_burger::before {
  transform: rotate(45deg);
}

.menu-wrapper {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  left: -100%;
  bottom: 0;
  right: 0;
    z-index: 99999;
    
  background-image: url("../assets/img/Logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 120px;
  display: flex;
  transition: 0.5s all ease-in-out;
}
.menu-wrapper.avtive_mobile_nav{
    left: 0;
}
.menu-left-side {
  width: 80%;
}
.menu-right-side {
  width: 20%;
}
.menu-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 80px;
}

.logo-block {
  display: flex;
  padding-left: 50px;

  align-items: center;
}

.company-name {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  margin: 0;
  font-weight: 900;
}
.company-name .green {
  color: #35a103;
}
.menu-phone {
  color: #fff;
  margin: 0;
  font-size: 20px;
  font-weight: 100;
  margin: 0 30px;
  font-family: "UI Pro Ultralight", sans-serif;
}
.p-100 {
  padding-left: 100px;
  margin: auto 0;
}

.menu-list {
  margin: 25px 0;
  list-style: none;
}

.menu-item {
  color: #fff;
  text-align: left;
  font-size: 32px;
  font-weight: 100;
  margin: 25px 0;
  
}

.menu-item .menu-link{
    font-family: "SF Display", sans-serif;
    font-weight: 100;
    color: #fff;
}

.menu-item .menu-link:hover{
    text-transform: none;
    text-decoration: none;
}

.menu-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  width: 80%;
  position: absolute;
  bottom: 0;
  
}

.social {
  height: 100%;
  display: flex;
  list-style: none;
  color: #fff;
}
.social-item {
  font-size: 32px;
  margin: 0 15px;
}

.right-button.top {
  background-color: #35a103;
}
.right-button.bottom {
  background-color: #fff;
}
.right-button {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
}
.right-button i {
  font-size: 100px;
}

.right-button.top {
    color: #fff;
  }
  .right-button.bottom {
    color: #35a103;
  }
